/*
Creator: Paul F. Carroll
Date Created: 1/8/2020
Date Last Modified: 1/14/2020
*/

body {
    background-color: #d6d4a0;
    font-family: 'Sniglet', cursive;
    margin: 15px 5px 10px 5px;

}

header, footer {
    background-color: #db995a;
    border: thin solid #db995a;
    color: black;
    height: 150px;
    text-align: center;
    padding: 40px 5px 30px 5px;
}
h1 {
    font-size: 3.5em;
    font-family: 'Patua One', cursive;  
}


/* navigation buttons */
nav {
    border-top: thick #5e1c27 solid;
    border-bottom: thick #5e1c27 solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav .btn {
    background-color: #5e1c27;
    color: white;
}
nav .btn:hover {
    font-weight: bold;
}


.jumbotron {
    background-color: #d6d4a0;
    border: thick #db995a;
    text-align: center;
}